<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div>

        <div class="collapse navbar-collapse center" id="navbarSupportedContent">
            <ul class="nav nav-pills  py-3 navCentralizar ">
                <li class="nav-item">
                    <a class="nav-link hvr-float-shadow {{activeUse}}" aria-selected="true" href="">Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hvr-float-shadow {{activeAdmin}}" aria-current="page" href="admin">Admin</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div style="margin-bottom: 4em;"></div>