h3 {
    margin-top: 8px;
}

hr{
    margin: 2em 2em;
}

img {
    width: 250px;
    height: 175px;
}

input[type=radio] {
    width: 1.5em;
    height: 1.5em;
}

input[type=checkbox] {
    width: 1.5em;
    height: 1.5em;
}


label {
    margin-top: 0.3em;
}

/* h5>span {
    margin-left: 2em;
    color: red;
    
} */

#espacamento {
    margin-top: 0.5em;
}

.btn{
    margin-top: 2em;
    margin-left: 1em;
}

.espacamentoEntreItens {
    margin-top: 2em;
}

.form-check-label.pao {
    margin-left: 0px;
}

.inline {
    margin-left: 1.25rem;
}

.btn {
    margin-top: 0em;
    margin-left: 0em;
}


@media screen and (max-width: 505px) {

    label>span {
        font-size: 12px;
    }

    .salvar {
        margin-left: 0;
        text-align: center;
        margin-left: 25%;
    }
    
}

@media screen and (max-width: 385px) {

    label>span {
        font-size: 12px;
    }
    
}