<div id="espacamento"></div>

<div id="espacamento"></div>

<form [formGroup]="pedidoForm" (ngSubmit)="fazerPedido()">

    <div class="card">
        <div class="card-header">
            <h3>ITENS DO PEDIDO</h3>
        </div>
        <div class="card-body">

            <!-- CARNE -->
            <h5 class="card-title"> PONTO DA CARNE </h5>
            <div class="row align-items-center">

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/pontoCarne.jpg" alt="Ponto da carne" class="img-thumbnail">
                </div>

                <div class="col-6 col-md-9">
                    <div class="card-text">
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" [value]='"MAL PASSDA"'
                                formControlName="pontoCarne">
                            <label class="form-check-label" for="pontoCarne">
                                <span>MAL PASSADA</span>
                            </label>
                        </div>

                        <div class="form-check mt-2">
                            <input type="radio" class="form-check-input" [value]='"AO PONTO"'
                                formControlName="pontoCarne">
                            <label class="form-check-label" for="pontoCarne">
                                <span>AO PONTO</span>
                            </label>
                        </div>

                        <div class="form-check mt-2">
                            <input type="radio" class="form-check-input" [value]='"BEM PASSADA"'
                                formControlName="pontoCarne">
                            <label class="form-check-label" for="pontoCarne">
                                <span>BEM PASSADA</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM DA CARNE -->

            <hr>

            <!-- PÃO -->
            <h5 class="card-title">TIPO DE PÃO</h5>

            <div class="row align-items-center">

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/paoAustraliano.jpg" class="img-thumbnail"
                        alt="Pão Australiano">
                </div>

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/gergelim.jpg" alt="Tipo com Gergelim" class="img-thumbnail">
                </div>
            </div>

            <div class="row ">

                <div class="col-6 col-md-3">
                    <div class="form-check ">
                        <input type="radio" class="form-check-input" [value]='"AUSTRALIANO"' formControlName="pao">
                        <label for="pao" class="inline">
                            PÃO AUSTRALIANO
                        </label>
                    </div>
                </div>

                <div class="col-3 col-md-6">
                    <div class="form-check ">
                        <input type="radio" class="form-check-input" [value]='"GERGELIM"' formControlName="pao">
                        <label for="pao" class="inline">
                            PÃO COM GERGELIM
                        </label>
                    </div>
                </div>

            </div>

            <!-- FIM DO PÃO -->

            <hr>

            <!-- MOLHO -->
            <h5 class="card-title">TIPOS DE MOLHO</h5>

            <div class="row align-items-center">

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/baiconnaise.jpg" alt="Molho Baiconnaise"
                        class="img-thumbnail">
                </div>

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/chipotle.jpg" alt="Molho Chipotle" class="img-thumbnail"
                        alt="Molho Chipotle">
                </div>

                <!-- <div class="col-12 col-md-3">
                    <img src="../../../../assets/img/pedido/maionese.jpg" alt="Molho Maionese" class="img-thumbnail">
                </div> -->
            </div>

            <div class="row ">

                <div class="col-6 col-md-3">
                    <div class="form-check ">
                        <input type="checkbox" class="form-check-input" [value]='"BACONNAISE"'
                            formControlName="molhoBaconnaise">
                        <label for="molhoBaconnaise" class="inline">
                            BACONNAISE
                        </label>
                    </div>
                </div>

                <div class="col-3 col-md-3">
                    <div class="form-check ">
                        <input type="checkbox" class="form-check-input" [value]='"CHIPOTLE"'
                            formControlName="molhoChipotle">
                        <label for="molhoChipotle" class="inline">
                            CHIPOTLE
                        </label>
                    </div>
                </div>


                <!-- <div class="col-12 col-md-3">
                    <div class="form-check ">
                        <input type="radio" class="form-check-input" [value]='"GERGELIM"' formControlName="molho">
                        <label for="molho" class="inline">
                            MAIONESE
                        </label>
                    </div>
                </div> -->


            </div>

            <!-- FIM DO MOLHO -->
            <hr>

            <!-- QUEIJO -->
            <h5 class="card-title">{{acrescentar}} QUEIJO</h5>
            <div class="row align-items-center">

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/queijo.jpg" alt="Queijo"
                        title="Imagem meramente ilustrativa" class="img-thumbnail">
                </div>

                <div class="col-6 col-md-9 mt-3">
                    <div class="card-text">
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" [value]='true' formControlName="queijo">
                            <label class="form-check-label" for="queijo">
                                SIM
                            </label>
                        </div>

                        <div class="form-check mt-3">
                            <input type="radio" class="form-check-input" [value]='false' formControlName="queijo">
                            <label class="form-check-label" for="queijo">
                                NÃO
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <!-- FIM DO QUEIJO -->
            <hr>

            <!-- BACON -->
            <h5 class="card-title">{{acrescentar}} BACON</h5>
            <div class="row align-items-center">

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/bacon.jpg" alt="Bacon" title="Imagem meramente ilustrativa"
                        class="img-thumbnail">
                </div>

                <div class="col-6 col-md-9 mt-3">
                    <div class="card-text">
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" [value]='true' formControlName="bacon">
                            <label class="form-check-label" for="bacon">
                                SIM
                            </label>
                        </div>

                        <div class="form-check mt-3">
                            <input type="radio" class="form-check-input" [value]='false' formControlName="bacon">
                            <label class="form-check-label" for="bacon">
                                NÃO
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <!-- FIM DO BACON -->
            <hr>

            <!-- CEBOLA CARAMELIZADA -->
            <h5 class="card-title">{{acrescentar}} CEBOLA CARAMELIZADA</h5>
            <div class="row align-items-center">

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/cebolaCaramelizada.jpg" alt="Cebola Caramelizada"
                        title="Imagem meramente ilustrativa" class="img-thumbnail">
                </div>

                <div class="col-6 col-md-9">
                    <div class="card-text">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" [value]='true'
                                formControlName="cebolaCaramelizada">
                            <label class="form-check-label" for="cebolaCaramelizada">
                                SIM
                            </label>
                        </div>

                        <div class="form-check mt-3">
                            <input type="radio" class="form-check-input" [value]='false'
                                formControlName="cebolaCaramelizada">
                            <label class="form-check-label" for="cebolaCaramelizada">
                                NÃO
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <!-- FIM DA CEBOLA CAREMELIZADA -->
            <hr>

            <!-- ALFACE -->
            <h5 class="card-title">{{acrescentar}} ALFACE</h5>
            <div class="row align-items-center">

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/alface.jpg" alt="Alface"
                        title="Imagem meramente ilustrativa" class="img-thumbnail">
                </div>

                <div class="col-6 col-md-9">
                    <div class="card-text">
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" [value]='true' formControlName="alface">
                            <label class="form-check-label" for="alface">
                                SIM
                            </label>
                        </div>

                        <div class="form-check mt-3">
                            <input type="radio" class="form-check-input" [value]='false' formControlName="alface">
                            <label class="form-check-label" for="alface">
                                NÃO
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <!-- FIM DO ALFACE -->
            <hr>

            <!-- TOMATE -->
            <h5 class="card-title">{{acrescentar}} TOMATE</h5>
            <div class="row align-items-center">

                <div class="col-6 col-md-3">
                    <img src="../../../../assets/img/pedido/tomate.jpg" alt="Tomate"
                        title="Imagem meramente ilustrativa" class="img-thumbnail">
                </div>

                <div class="col-6 col-md-9">
                    <div class="card-text">
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" [value]='true' formControlName="tomate">
                            <label class="form-check-label" for="tomate">
                                SIM
                            </label>
                        </div>

                        <div class="form-check mt-3">
                            <input type="radio" class="form-check-input" [value]='false' formControlName="tomate">
                            <label class="form-check-label" for="tomate">
                                NÃO
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <!-- FIM DO TOMATE -->

        </div>
    </div>

    <button type="submit" class="btn btn-success btn-lg salvar" [disabled]="desativarBotao">Fazer pedido</button>

    <div style="margin-bottom: 5em;"></div>

</form>