#espacamento {
    margin-top: 3.5em;
}

td {
    text-align: center; 
    vertical-align: middle;
}

tbody>tr>td {
    padding: 0.6em;
    text-align: center;
}

thead>tr>th{
    padding: 1em;
    text-align: center;
}

div>td {
    border: 0px;
}

.finalizar {
    font-size: xx-large;
}