form {
    text-align: -webkit-center;
    text-align: -moz-center;
}

input {
    width: 50%;
}


#centralizar {
    text-align: center;
}

.btn-outline-secondary{
    margin-left: 2em;
}

.espacamentoEntreForm {
    margin-top: 2em;
}

.botaoInfo {
    background-color: transparent;
    border: none;
    margin-left: 1em;
}


@media screen and (max-width: 767px) {

    input {
        width: 90%;
    }
    
}