#espacamento {
    margin-top: 12.5em;
}

#inputTextArea {
    text-align: -webkit-center;
}

ngb-rating {
    color: #FFC107;
    font-size: 50px;
}

textarea {
    width: 50%;
}

tr>td {
    text-align: start;
}

.startTabela {
    text-align: start;
}

li {
    display: block;
} 


@media screen and (max-width: 950px) {

    textarea {
        width: 100%;
    } 
    
}


@media screen and (max-width: 600px) {

    #espacamento {
        margin-top: 2.5em;
    }
}